<h2>Simple Form</h2>

<form #form="ngForm" novalidate>
  <md-card>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Nome" value="">
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput name="email" placeholder="Email" (ngModelChange)="changeEmail($event)" />
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput placeholder="Telefone" value="">
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput placeholder="Cidade" value="">
      </md-input-container>

      <md-card-content class="example-full-width">
        <md-select placeholder="Estados" [(ngModel)]="selectedValue" name="estado">
          <md-option *ngFor="let estado of estados" [value]="estado.value">
            {{estado.viewValue}}
          </md-option>
        </md-select>
      </md-card-content>

     <md-card-content class="example-full-width">
      <md-checkbox class="example-margin">Checked</md-checkbox>
      <md-checkbox class="example-margin">Indeterminate</md-checkbox>
    </md-card-content>


    <md-card-actions>
      <button md-button>Enviar</button>
    </md-card-actions>
  </md-card>
</form>
{{ form.pristine }}

<br /><br /><br />
<h2>Model</h2>
{{ model | json }}
<br /><br />

<h2>Angular ngModel Values</h2>
{{ form.value | json }}
