<br />
<h3>Mask Plugin</h3>

<div class="row">
  <div class="input-field col s12">
    <input 
      type="text" 
      name="telefone" 
      [(ngModel)]="myModel" 
      placeholder="(xx) x xxxx-xxxx"
      [textMask]="{mask: mask}" 
    />
    <label for="telefone">Telefone with Placeholder</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <label for="phoneWithValue">Phone with Value</label>
    <input
      id="2"
      name="phoneWithValue"
      [(ngModel)]="modelWithValue"
      [textMask]="{mask: mask}"
      type="text"
    />
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <label for="phone">Phone</label>
    <input
      id="1"
      name="phone"
      [(ngModel)]="myModel"
      [textMask]="{mask: mask}"
      type="text"
    />
  </div>
</div>