<h2>Form 2</h2>
<div class="row">
  <form class="col s12" novalidate #form="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input #firstName id="firstName" require type="text" name="firstName" [(ngModel)]="model2.firstName" />
        <label for="firstName">First Name</label>
        <strong>Classes from firstName:</strong> {{firstName.className}}
      </div>
      </div>
    <div class="row">
      <div class="input-field col s12">
        <input #lastName="ngModel" id="lastName" require type="text" name="lastName" [(ngModel)]="model2.lastName" />
        <label for="lastName">Last Name</label>
        <strong>Properties from LastName</strong>: {{ lastName.valid }} {{ lastName.dirty }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12" [class.has-error]="password.touched">
        <input #password="ngModel" id="password" name="password" type="password" class="validate" [(ngModel)]="model2.password" required />
        <label data-error="The Password is Incorrect" data-success="The Password is Correct" for="password">Password</label>
        <div *ngIf="password.invalid && password.touched">Touched</div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12" [class.has-error]="email.invalid">
        <input #email="ngModel" id="email" name="email" type="email" require class="validate" [(ngModel)]="model2.email" required />
        <label data-error="Please insert the email correctly" data-success="Nice. The email is right" for="email">Email</label>
        <strong>Classes from email:</strong> {{ email.className }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Textarea</label>
      </div>
    </div>

    <div class="row">
       <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="form.invalid">
         Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
